/**
 * Geofence Panel Styles
 * Feature 020: Tailwind CSS Migration
 */

:host {
  display: block;
}

// Material icons alignment
.material-icons {
  vertical-align: middle;
  line-height: 1;
}

// Leaflet draw styles override
:host ::ng-deep {
  .leaflet-draw-toolbar a {
    background-color: white;
  }

  .geofence-popup {
    .zone-type {
      display: inline-block;
      padding: 2px 6px;
      background: #e0e0e0;
      border-radius: 3px;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
}
