/**
 * Header Component Styles - Tailwind Migration
 * Feature 020: Angular Material to Tailwind CSS
 *
 * Most styling is now handled by Tailwind classes in the template.
 * This file contains only component-specific styles for Mat Menu panel.
 */

:host {
  display: block;
}

// Material icons alignment
.material-icons {
  vertical-align: middle;
  line-height: 1;
}

// User menu panel styles (MatMenu still used)
.logout-item {
  &:hover {
    background-color: #fef2f2 !important; // danger-50
  }
}

// Override mat-menu-item to use our icon colors
::ng-deep .mat-mdc-menu-item {
  .material-icons {
    font-size: 20px;
  }
}
