/**
 * Header Component Styles - Tailwind UI Stacked Layout
 * Feature 020: Angular Material to Tailwind CSS
 */

@use '../../../../styles/theme' as theme;

:host {
  display: block;
}

// Material icons alignment
.material-icons {
  vertical-align: middle;
  line-height: 1;
}

// Active navigation link - Tailwind UI style rounded pill
.nav-link {
  &.active-nav-link,
  &:global(.active-nav-link) {
    background-color: theme.$color-primary-800;
    color: white;
  }
}

// RouterLinkActive class override
:host ::ng-deep a.active-nav-link {
  background-color: theme.$color-primary-800 !important;
  color: white !important;
}

// Screen reader only utility
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
