/**
 * Pagination Component Styles - Tailwind Migration
 * Feature 020: Angular Material to Tailwind CSS
 *
 * Most styling is now handled by Tailwind classes in the template.
 * This file contains only component-specific styles.
 */

:host {
  display: block;
}

// Material icons alignment
.material-icons {
  vertical-align: middle;
  line-height: 1;
}
