# Grafana Datasource Provisioning for TruckTrack
# ================================================

apiVersion: 1

datasources:
  # Prometheus - Primary metrics store
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: "2.48.0"

  # Jaeger - Distributed tracing
  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    editable: false
    jsonData:
      tracesToLogsV2:
        datasourceUid: ''
        spanStartTimeShift: ''
        spanEndTimeShift: ''
        filterByTraceID: false
        filterBySpanID: false
